In [ ]:
print("Saya belajar Python")
print("Saya suka ular Python")

In [7]:
a=1
b=2
c=a+b
print(c) #
print("c")

3
c

In [13]:
#program hitung luas segi empat
#input :
panjang = 20
lebar = 10
#proses :
luas=panjang*lebar
#output :
print("Luasnya adalah :", luas)

Luasnya adalah : 200

In [17]:
#program hitung luas kubus
#input :
sisi = 5
#proses :
luas=sisi*sisi*sisi
#output :
print("Luasnya adalah :", luas)

Luasnya adalah : 125

In [19]:
#program hitung luas segitiga
#input :
alas = 5
tinggi = 8
#proses :
luas=1/2*alas*tinggi
#output :
print("Luasnya adalah :", luas)

Luasnya adalah : 20.0

In [21]:
#program hitung luas segi empat
#input :
panjang = int(input("Masukkan panjang : "))
lebar = int(input("Masukkan lebar : "))
#proses :
luas=panjang*lebar
#output :
print("Luasnya adalah :", luas)

Masukkan panjang :  8
Masukkan lebar :  4

Luasnya adalah : 32

In [23]:
alas = int(input("Masukkan alas : "))
tinggi = int(input("Masukkan tinggi : "))
luas=1/2*alas*tinggi
print("Luasnya adalah :", luas)

Masukkan alas :  9
Masukkan tinggi :  12

Luasnya adalah : 54.0

In [25]:
#Mengenal tipe data pada angka
#tipe integer, yaitu bilangan bulat (tanpa koma)
a=30
b=50
c=20
d=a+b+c
print(d)

100

In [31]:
#Mengenal tipe data pada angka
#tipe float/real, yaitu bilangan desimal/pecahan (pakai koma)
a=30.45
b=52.35
c=20.10
d=a+b+c
print(d)

x=10
y=34.23
z=x+y
print(z)

102.9
44.23

In [51]:
#tipe data string (kumpulan char=huruf)
nama = "Sherly Amelia Putri"
nohp = "08384203517"
alamat = "jl. hasanudin"
print(nama, nohp, alamat)
print("Nama : ",nama, "No Hp : ",nohp, "Alamat : ",alamat)
gabung=nama+nohp+alamat
print(gabung)
gabung=nama+" "+nohp+" "+alamat
print(gabung)

Sherly Amelia Putri 08384203517 jl. hasanudin
Nama :  Sherly Amelia Putri No Hp :  08384203517 Alamat :  jl. hasanudin
Sherly Amelia Putri08384203517jl. hasanudin
Sherly Amelia Putri 08384203517 jl. hasanudin

In [1]:
#Percabangan dalam python
#Percabangan tunggal
#Percabangan ganda
#Percabangan majemuk

In [18]:
#Contoh percabangan Tunggal
A = 7
if A>0 :
    print('Itu Bilangan Positif')

print('Angka anda adalah :', A)

Itu Bilangan Positif
Angka anda adalah : 7

In [24]:
#Contoh percabangan Ganda
A = -7
if A>0 :
    print('Itu Bilangan Positif')

else:
    print('Itu bukan Bilangan Positif')

print('Angka anda adalah :', A)

Itu bukan Bilangan Positif
Angka anda adalah : -7

In [32]:
#Contoh percabangan Majemuk
A = int(input('Masukkan angka'))
if A>0 :
    print('Itu Bilangan Positif')

elif A<0: #merupakan gabungan else dan if
    print('Itu Bilangan Negatif')

else:
    print('Itu Bilangan Nol')

print('Angka anda adalah :', A)

Masukkan angka 0

Itu Bilangan Nol
Angka anda adalah : 0

In [34]:
#Contoh percabangan majemuk bertingkat
A = int(input('Masukkan angka'))
if A>0 :
    print('Itu Bilangan Positif')

else:
    if A<0: #merupakan gabungan else dan if
        print('Itu Bilangan Negatif')
    else:
        print('Itu Bilangan Nol')

print('Angka anda adalah :', A)

Masukkan angka 2

Itu Bilangan Positif
Angka anda adalah : 2

In [40]:
#Aritmatika di Python
A=15
B=3
C=A+B
D=A*B
E=A-B
F=A/B
G=A//B  #dibagi kemudian di bulatkan kebawah
H=A%B  #tanda % adalah Modulo, yaitu sisa hasil bagi
print(A,B,C,D,E,F,G,H)

15 3 18 45 12 5.0 5 0

In [42]:
print(1%2)
print(2%2)
print(3%2)
print(4%2)
print(27389426%2)
#Kesimpulan : apapun angkanya jika di %2 hasilnya 1 berarti Ganjil
#Kesimpulan : apapun angkanya jika di %2 hasilnya 0 berarti Genap

1
0
1
0
0

In [46]:
#Contoh percabangan ganjil genap
A = int(input('Masukkan angka:'))
if A%2==0 :
    print('Itu Bilangan Genap')

else:
    print('Itu Bilangan Ganjil')

print('Angka anda adalah :', A)

Masukkan angka: 2

Itu Bilangan Genap
Angka anda adalah : 2

In [48]:
#Program untuk mengecek angka ganjil positif
A = int(input('Masukkan angka'))
if A>0 :
    print('Itu Bilangan Positif')

else:
    if A%2==0 :
        print('Itu Bilangan Ganjil')
    else:
        print('Itu Bilangan Genap')

print('Angka anda adalah :', A)

Masukkan angka 2

Itu Bilangan Positif
Angka anda adalah : 2

In [60]:
#Program bilangan ganjil genap positif negatif menggunakan majemuk
A = int(input('Masukkan angka: '))

if A > 0:
    if A % 2 == 0:  
        print('Itu adalah bilangan ganjil positif')
    else:
        print('Itu adalah bilangan genap positif')
elif A < 0:
    if A % 2 == 0:  
        print('Itu adalah bilangan ganjil negatif')
    else:
        print('Itu adalah bilangan genap negatif')
else:
    print('Itu adalah angka nol')

print('Angka anda adalah:', A)

Masukkan angka:  2

Itu adalah bilangan ganjil positif
Angka anda adalah: 2

In [62]:
#Statement perulangan for
#Fungsinya untuk mengulang bagian program sehingga lebih singkat

In [70]:
#Statement perulangan for
#Fungsinya untuk mengulang bagian program sehingga lebih singkat
for i in range(100):
    print('Sherly Amelia Putri')

Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri
Sherly Amelia Putri

In [72]:
for i in range(100):
    print('Sherly Amelia Putri')
    print(i)

Sherly Amelia Putri
0
Sherly Amelia Putri
1
Sherly Amelia Putri
2
Sherly Amelia Putri
3
Sherly Amelia Putri
4
Sherly Amelia Putri
5
Sherly Amelia Putri
6
Sherly Amelia Putri
7
Sherly Amelia Putri
8
Sherly Amelia Putri
9
Sherly Amelia Putri
10
Sherly Amelia Putri
11
Sherly Amelia Putri
12
Sherly Amelia Putri
13
Sherly Amelia Putri
14
Sherly Amelia Putri
15
Sherly Amelia Putri
16
Sherly Amelia Putri
17
Sherly Amelia Putri
18
Sherly Amelia Putri
19
Sherly Amelia Putri
20
Sherly Amelia Putri
21
Sherly Amelia Putri
22
Sherly Amelia Putri
23
Sherly Amelia Putri
24
Sherly Amelia Putri
25
Sherly Amelia Putri
26
Sherly Amelia Putri
27
Sherly Amelia Putri
28
Sherly Amelia Putri
29
Sherly Amelia Putri
30
Sherly Amelia Putri
31
Sherly Amelia Putri
32
Sherly Amelia Putri
33
Sherly Amelia Putri
34
Sherly Amelia Putri
35
Sherly Amelia Putri
36
Sherly Amelia Putri
37
Sherly Amelia Putri
38
Sherly Amelia Putri
39
Sherly Amelia Putri
40
Sherly Amelia Putri
41
Sherly Amelia Putri
42
Sherly Amelia Putri
43
Sherly Amelia Putri
44
Sherly Amelia Putri
45
Sherly Amelia Putri
46
Sherly Amelia Putri
47
Sherly Amelia Putri
48
Sherly Amelia Putri
49
Sherly Amelia Putri
50
Sherly Amelia Putri
51
Sherly Amelia Putri
52
Sherly Amelia Putri
53
Sherly Amelia Putri
54
Sherly Amelia Putri
55
Sherly Amelia Putri
56
Sherly Amelia Putri
57
Sherly Amelia Putri
58
Sherly Amelia Putri
59
Sherly Amelia Putri
60
Sherly Amelia Putri
61
Sherly Amelia Putri
62
Sherly Amelia Putri
63
Sherly Amelia Putri
64
Sherly Amelia Putri
65
Sherly Amelia Putri
66
Sherly Amelia Putri
67
Sherly Amelia Putri
68
Sherly Amelia Putri
69
Sherly Amelia Putri
70
Sherly Amelia Putri
71
Sherly Amelia Putri
72
Sherly Amelia Putri
73
Sherly Amelia Putri
74
Sherly Amelia Putri
75
Sherly Amelia Putri
76
Sherly Amelia Putri
77
Sherly Amelia Putri
78
Sherly Amelia Putri
79
Sherly Amelia Putri
80
Sherly Amelia Putri
81
Sherly Amelia Putri
82
Sherly Amelia Putri
83
Sherly Amelia Putri
84
Sherly Amelia Putri
85
Sherly Amelia Putri
86
Sherly Amelia Putri
87
Sherly Amelia Putri
88
Sherly Amelia Putri
89
Sherly Amelia Putri
90
Sherly Amelia Putri
91
Sherly Amelia Putri
92
Sherly Amelia Putri
93
Sherly Amelia Putri
94
Sherly Amelia Putri
95
Sherly Amelia Putri
96
Sherly Amelia Putri
97
Sherly Amelia Putri
98
Sherly Amelia Putri
99

In [74]:
#Perulangan menggunakan While hanya dilakukan jika syaratnya masih terpenuhi
i=1
while i<=5:
    print(i)
    i +=1

1
2
3
4
5

In [78]:
#Menggunakan while dengan break untuk mencetak angka dari 1 sampai 5
i=1
while True:
    print(i)
    i+=1
    if i>5:
        break

1
2
3
4
5

In [31]:
#Menggunakan while dengan contonue untuk mencetak angka ganjil dari 1 sampai 10
i=1
while i<=10:
    if i%2==0: #cek jika genap
        i+=1
        continue #untuk lompat ke perulangan berikutnya, tanpa menjalankan perintah dibawah
    print(i)
     i+=1

IndentationError: unexpected indent (2870011422.py, line 8)

In [29]:
#Menggunakan while dengan contonue untuk mencetak angka ganjil dari 1 sampai 10
i = 1
while i <= 10:
    if i % 2 == 0:  # Cek jika angka genap
        i += 1
        continue  # Lompat ke iterasi berikutnya jika genap
    print(i)  # Cetak angka ganjil
    i += 1

1
3
5
7
9

In [27]:
#Kombinasi perulangan dan percabangan
for x in [1,2,3,4,5,6]:
    if x%2==0: #jika x modula 2 sama dengan 0 maka genap
        print('Bilangan ',x, 'Genap')
    else:
        print('Bilangan',x,'Ganjil')

Bilangan 1 Ganjil
Bilangan  2 Genap
Bilangan 3 Ganjil
Bilangan  4 Genap
Bilangan 5 Ganjil
Bilangan  6 Genap

In [25]:
#Mengenal fungsi/sub program
#Sub program/fungsi adalah program pendek yang dibuat sebagai
#Modul khusus sesuai kebutuhan kita
#Sub program/fungsi didefinisikan dengan perintah : def

def my_fungsi():
    print("Hello from a function")
    print("saya belajar fungsi")
#Bagian untuk panggilan fungsi :
my_fungsi()
my_fungsi()
my_fungsi()
#jika fungsi tidak pernah dipanggil, maka tidak akan pernah dijalankan oleh [ython

Hello from a function
saya belajar fungsi
Hello from a function
saya belajar fungsi
Hello from a function
saya belajar fungsi

In [23]:
def my_fungsi():
    print("Hello from a function")
    print("saya belajar fungsi")

my_fungsi()
my_fungsi()
my_fungsi()

Hello from a function
saya belajar fungsi
Hello from a function
saya belajar fungsi
Hello from a function
saya belajar fungsi

In [1]:
#parameter fungsi(mengirim nilai ke fungsi)
def persegipanjang(panjang,lebar):
    luas=panjang*lebar
    return luas #perintah return berguna untuk mengembalikan
                #suatu nilai ke source code panggilannya

print('luas persegi panjang dengan p=5,l=6 adalah',persegipanjang(5,6))
print('luas persegi panjang dengan p=10,l=6 adalah',persegipanjang(10,6))
print('luas persegi panjang dengan p=15,l=10 adalah',persegipanjang(15,10))

luas persegi panjang dengan p=5,l=6 adalah 30
luas persegi panjang dengan p=10,l=6 adalah 60
luas persegi panjang dengan p=15,l=10 adalah 150

In [5]:
#Mengenalvariabel array/List
#List adalah sebuah variabel yang isinya ada beberapa/banyak data
#Contoh berikut variabel thislist berisi 3 data
#Contoh diambil da
thislist = ["apple", "banana", "cherry"]

print(thislist)
print(len(thislist)) #fungsi len gunanya untuk menampilkan jumlah data dalam thislist

['apple', 'banana', 'cherry']
3

In [7]:
#Mengenalvariabel array/List
#List adalah sebuah variabel yang isinya ada beberapa/banyak data
#Contoh berikut variabel thislist berisi 3 data
#Contoh diambil da
thislist = ["apple", 5, True, -10, 0.315]

print(thislist)
print(len(thislist)) #fungsi len gunanya untuk menampilkan jumlah data dalam thislist

['apple', 5, True, -10, 0.315]
5

In [9]:
#Cara mengakses satu isi list dengan menyebut nomor indeks
thislist = ["apple", "banana", "cherry"]
#noindex : 0 1 2 (dari kiri)
#noindex : -3 -2 -1 (dari kanan)
print(thislist[0])
print(thislist[1])
print(thislist[2])
print(thislist[-1])
print(thislist[-2])

apple
banana
cherry
cherry
banana

In [11]:
#Cara mengakses beberapa isi list dengan menyebut nomor indeks awal/akhir
thislist=["apple", "banana", "cherry", "kiwi", "melon", "mango"]
print(thislist[2:5])
print(thislist[ :4])
print(thislist[2: ])
print(thislist[-4:-1])
if "banana" in thislist:
    print("Yes, 'banana' is in the fruits list")
    print('Banana in index: ',thislist.index('banana'))

['cherry', 'kiwi', 'melon']
['apple', 'banana', 'cherry', 'kiwi']
['cherry', 'kiwi', 'melon', 'mango']
['cherry', 'kiwi', 'melon']
Yes, 'banana' is in the fruits list
Banana in index:  1

In [19]:
#Mengganti satu atau sebagian isi list
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[1] = "blackcurrant" #mengganti satu data
print(thislist)
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"] #ganti beberapa data
print(thislist)

['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [21]:
#Menambah isi list dari posisi tengah dan belakang
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.insert(0,"Jambu desa") #menyisipkan di awal, index no 0
print(thislist)
thislist.insert(2,"Anggur") #menyisipkan di awal, index no 2
print(thislist)
thislist.append("orange") #menyisipkan di belakang
print(thislist)

['apple', 'banana', 'cherry']
['Jambu desa', 'apple', 'banana', 'cherry']
['Jambu desa', 'apple', 'Anggur', 'banana', 'cherry']
['Jambu desa', 'apple', 'Anggur', 'banana', 'cherry', 'orange']

In [41]:
#menggabungkan dua list menggunakan append
languages1=['Python','PHP','Java',]
languages2=['C','C++','C#']
#Menambahkan list 2 ke list 1 dengan perintah append
languages1.append(languages2)
print('Result: ',languages1)
print('Panjang Languages 1 :',len(languages1))

Result:  ['Python', 'PHP', 'Java', ['C', 'C++', 'C#']]
Panjang Languages 1 : 4

In [43]:
#menggabungkan dua list menggunakan append
languages1=['Python','PHP','Java',]
languages2=['C','C++','C#']
#Menambahkan list 2 ke list 1 dengan perintah append
languages1.extend(languages2)
print('Result: ',languages1)
print('Panjang Languages 1 :',len(languages1))

Result:  ['Python', 'PHP', 'Java', 'C', 'C++', 'C#']
Panjang Languages 1 : 6

In [45]:
#Tipe data Tuple
#Tuple adalah sekumpulan data mirip list tapi tidak bisa di edit/tambah
#ciri-ciri : diawali tanda kurung ()
#bandingkan dengan list :
fruits = ["apple", "banana", "cherry"]
print(fruits)
#tuple :
thistuple = ("apple", "banana", "cherry")
print(thistuple)

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')

In [49]:
#Tipe data Dictionary
#Ciri-cirinya : berpasangan, diawali {}
#setiap pasangan dipisahkan dengan tanda koma ,
#dalam sebuah pasangan, sisi kiri dan kanan dipisahkan tanda :
thisdict = {
    "brand": "Ford",
    "model" : "Mustang",
    "year" : 1946
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1946}

In [51]:
#pandas adalah library python khusus untuk data analisis
#berikut cara import library pandas sekaligus bikin nama alisa :pd
import pandas as pd
#membuat tabel pandas baru bertipe datafrase dengan nama : df
#pd dipakai untuk membiuat tabel pandas baru dari sebuah dictionary
dict={"A":[1,4,7],
      "B":[2,5,8],
      "C":[3,6,9]}
df = pd.DataFrame(dict) #df berupa tabel pandas
print(df)
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [59]:
import pandas as pd
#Membuat DataFrame
data={
    'Nama':['Sherly', 'Amelia','Putri'],
    'Usia':[19,20,21],
    'Kota':['Bandung', 'Jakarta','Tangerang']
    }
df = pd.DataFrame(data)
print(df)

     Nama  Usia       Kota
0  Sherly    19    Bandung
1  Amelia    20    Jakarta
2   Putri    21  Tangerang

In [63]:
#Mengakses data
usia_baris_pertama = df.loc[0, 'Usia']
print('Usia baris pertama:', usia_baris_pertama)

#Menambahkan kolom baru
df['Pekerjaan'] = ['Engineer', 'Doctor', 'Artist']

#Mengubah nilai di kolom 'kota'
df.loc[df['Nama']=='Sherly', 'Kota']='Pemalang'

print(df)

Usia baris pertama: 19
     Nama  Usia       Kota Pekerjaan
0  Sherly    19   Pemalang  Engineer
1  Amelia    20    Jakarta    Doctor
2   Putri    21  Tangerang    Artist

In [28]:
import pandas as pd
# Memfilter DataFrame
filtered_df = df[df['Usia'] > 20]
print('Data setelah filter:\n', filtered_df)

# Mengurutkan DataFrame
sorted_df = df.sort_values(by='Usia', ascending=False)
print('Data setelah diurutkan:\n', sorted_df)

KeyError: 'Usia'

In [24]:
import pandas as pd  
# Membuat DataFrame untuk Grouping-SUM yang kategorinya sama
data = {
    'Kategori': ['A', 'B', 'A', 'B'],
    'Nilai': [10, 20, 30, 40]
}
df = pd.DataFrame(data)
print(df)
# Mengelompokkan dan menghitung total nilai
grouped_df = df.groupby('Kategori').sum()
print('Total nilai per kategori:\n', grouped_df)

  Kategori  Nilai
0        A     10
1        B     20
2        A     30
3        B     40
Total nilai per kategori:
           Nilai
Kategori
A            40
B            60

In [26]:
import pandas as pd  
#Membuat DataFrame
data= {
    'Kategori': ['Sherly', 'Amelia', 'Putri', 'Salsabila'],
    'Nilai': [85,90,75,40]
}
df = pd.DataFrame(data)
#Fungsi untuk mengkategorikan nilai
def categorize(nilai):
    return 'Lulus' if nilai>50 else 'Gagal'

#Menggunakan apply untuk menerapkan fungsi
df['Kategori'] = df['Nilai'].apply(categorize)
print(df)

  Kategori  Nilai
0    Lulus     85
1    Lulus     90
2    Lulus     75
3    Gagal     40

In [101]:

#Membuat DataFrame pertama
df1 = pd.DataFrame({
    'ID': [1,2],
    'Nama': ['Sherly', 'Amelia']
})

#Membuat DataFrame kedua
df2 = pd.DataFrame({
    'ID':[1,2],
    'Usia': [20, 23]
})

#Menggabungkan DataFrame
merged_df = pd.merge(df1, df2, on='ID')
print('DataFrame yang digabungkan:\n', merged_df)

DataFrame yang digabungkan:
    ID    Nama  Usia
0   1  Sherly    20
1   2  Amelia    23

In [89]:
#Membyat DataFrame dengan duplikat dan nilai yang hilang
df = pd.DataFrame({
     'Nama': ['Putri', 'Amelia', 'Putri', 'Salsabila'],
    'Usia': [25, 30, 25, None]
})
#Menghapus baris duplikat
df=df.drop_duplicates()
#Mengisi nilai yang hilang dengan nilai rata-rata
df['Usia'] =df['Usia'].fillna(df['Usia'].mean())
print('DataFrame setelah menghapus duplikat dan mengisi nilai yang hilang:\n', df)

DataFrame setelah menghapus duplikat dan mengisi nilai yang hilang:
         Nama  Usia
0      Putri  25.0
1     Amelia  30.0
3  Salsabila  27.5

In [97]:
#Membuat DataFrame
df= pd.DataFrame({
    'Kode': ['A001', 'A002', 'A003'],
    'Produk': ['Apel', 'Pisang', 'Jeruk'],
    'Harga': [100, 200, 300]
})
#Mengatur kolom 'Kode' sebagai index
df.set_index('Kode', inplace=True)
#Menambahkan kolom 'Diskon'
df['Diskon'] = df['Harga']*0.10
#Menampilkan data untuk 'Kode' A002
print('Data untuk produk dengan Kode A002:\n', df.loc['A002'])
df

Data untuk produk dengan Kode A002:
 Produk    Pisang
Harga        200
Diskon      20.0
Name: A002, dtype: object

      Produk  Harga  Diskon
Kode
A001    Apel    100    10.0
A002  Pisang    200    20.0
A003   Jeruk    300    30.0