In [5]:
print('Saya belajar Python')
print("Saya suka ular Python")
print('Ini coba error"')

Saya belajar Python
Saya suka ular Python
Ini coba error"

In [7]:
a=1
b=2
c=a+b
print(c)   #akan dicetak isinya c
print("c")  #akan dicetak c apa adanya.

3
c

In [8]:
#proggram hitung luas segi empat
#input :
panjang = 20
lebar =10
#proses :
luas=panjang*lebar
#output "
print('Luasnya adalah :', luas)

Luasnya adalah : 200

In [ ]:
#buatlah program yang sama untuk hitung luas segitiga...

In [10]:
#proggram hitung luas segi empat
#input :
panjang = int(input('Masukkan panjang : '))
lebar = int(input('Masukkan lebar : '))
#proses :
luas=panjang*lebar
#output "
print('Luasnya adalah :', luas)

Masukkan panjang :  30
Masukkan lebar :  15

Luasnya adalah : 450

In [11]:
#Mengenal tipe data pada angka
#tipe integer, yaitu bilangan bulat (tanpa koma)
a=30
b=50
c=20
d=a+b+c
print(d)

100

In [13]:
#Mengenal tipe data pada angka
#tipe float/real, yaitu bilangan desimal/pecahan(pakai koma)
a=30.45
b=52.35
c=20.10
d=a+b+c
print(d)

x=10
y=34.23
z=x+y
print(z)

102.9
44.23

In [16]:
#data bertipe string (kumpulan char=huruf)
namaku='Ade Budi Cahyono'
nohp='082332398798'
noktp='3542131712450003'
print(namaku,nohp,noktp)
print('Namaku : ',namaku,' No Hp :',nohp,' No. Ktp : ',noktp)
gabung=namaku+nohp+noktp
print(gabung)
gabung=namaku+' '+nohp+' '+noktp
print(gabung)

Ade Budi Cahyono 082332398798 3542131712450003
Namaku :  Ade Budi Cahyono  No Hp : 082332398798  No. Ktp :  3542131712450003
Ade Budi Cahyono0823323987983542131712450003
Ade Budi Cahyono 082332398798 3542131712450003

In [ ]:
#Percabangan dalam Python
#Percabangan Tunggal
#Percabangan Ganda
#Percabangan Majemuk

In [3]:
#Contoh Percabangan Tunggal
A = 5  #silahkan coba dengan angka lain :0, -2, -5, 10
if A>0 :
    print('Itu Bilangan Positif')  #bagian yg agak masuk ini akan dikerjakan jika
                                   #kondisi A>0 terpenuhi
print('Angka anda adalah :', A)

Itu Bilangan Positif
Angka anda adalah : 5

In [5]:
#Contoh Percabangan Ganda
A = -5  #silahkan coba dengan angka lain :0, -2, -5, 10
if A>0 :
    print('Itu Bilangan Positif')  #bagian yg agak masuk ini akan dikerjakan jika
                                   #kondisi A>0 terpenuhi
else:
    print('Itu bukan Bilangan Positif')
    
print('Angka anda adalah :', A)

Itu bukan Bilangan Positif
Angka anda adalah : -5

In [7]:
#Contoh Percabangan Majemuk Biasa
A = int(input('Masukkan angka'))  #silahkan coba dengan angka lain :0, -2, -5, 10
if A>0 :
    print('Itu Bilangan Positif')  #bagian yg agak masuk ini akan dikerjakan jika
                                   #kondisi A>0 terpenuhi
elif A<0:          #adalah gabungan else dan if selanjutnya
    print('Itu Bilangan Negatif')
else:
    print('Itu Bilangan Nol')
    
print('Angka anda adalah :', A)

Masukkan angka 0

Itu Bilangan Nol
Angka anda adalah : 0

In [8]:
#Contoh Percabangan Majemuk Bertingkat
A = int(input('Masukkan angka'))  #silahkan coba dengan angka lain :0, -2, -5, 10
if A>0 :
    print('Itu Bilangan Positif')  #bagian yg agak masuk ini akan dikerjakan jika
                                   #kondisi A>0 terpenuhi
else:
    if A<0:          #adalah gabungan else dan if selanjutnya
        print('Itu Bilangan Negatif')
    else:
        print('Itu Bilangan Nol')
    
print('Angka anda adalah :', A)

Masukkan angka -5

Itu Bilangan Negatif
Angka anda adalah : -5

In [9]:
#Aritmatika di Python
A=5
B=3
C=A+B
D=A*B
E=A-B
F=A/B
G=A//B  #dibagi kemudian di bulatkan kebawah
H=A%B   # tanda % adalah Modulo,yaitu sisa hasil bagi
print(A,B,C,D,E,F,G,H)

5 3 8 15 2 1.6666666666666667 1 2

In [10]:
print(1%2)
print(2%2)
print(3%2)
print(4%2)
print(287482974%2)
#kesimpulan : apapun angkanya jika di %2 hasilnya 1 berarti GANJIL
#kesimpulan : apapun angkanya jika di %2 hasilnya 0 berarti GENAP

1
0
1
0
0

In [13]:
#Contoh Percabangan Ganda Ganjil Genap
A = int(input('Masukkan angka :'))  #silahkan coba dengan angka lain :0, -2, -5, 10
if A%2==0 :
    print('Itu Bilangan Genap')  #bagian yg agak masuk ini akan dikerjakan jika
                                   #kondisi A>0 terpenuhi
else:
    print('Itu Bilangan Ganjil')
    
print('Angka anda adalah :', A)

Masukkan angka : 3

Itu Bilangan Ganjil
Angka anda adalah : 3

In [ ]:
#Buatkan program untuk mengecek apakah suatu angka itu:
#1. Ganjil Positif
#2. Ganjil Negatif
#3. Genap Positif
#4. Genap Negatif
#5. Nol

In [ ]:
A = int(input('Masukkan Angka: '))
if A == 0:
    print("Angka Nol")
elif A > 0:
    if A % 2 == 0:
        print("Genap Positif")
    else:
        print("Ganjil Positif")
else:
    if A % 2 == 0:
        print("Genap Negatif")
    else:
        print("Ganjil Negatif")

print('Angka Anda adalah:', A)

In [ ]:
#Statemen PERULANGAN dengan FOR
#Fungsinya untuk mengulang2 bagian program sehingga lebih singkat
for i in range(0, 5):  #range(0,5) mengandung angka : 0,1,2,3,dan 4
    print("Indonesia Raya")
    print(i)

In [ ]:
for i in [0,1,2,3,4]: 
    print("Indonesia Raya")
    print(i)

In [ ]:
#Latihan :buatlah program perulangan untuk mencetak nama anda 100x

In [ ]:
#Perulangan menggunakan WHILE hanya dilakukan jika syaratnya masihterpenuhi
i = 1
while i <= 5:  #di samping sintaks WHILE, ada syarat nya
    print(i)
    i += 1

In [ ]:
# Menggunakan while dengan break untuk mencetak angka dari 1 hingga 5
i = 1
while True:
    print(i)
    i += 1
    if i > 5:
        break

In [16]:
# Menggunakan while dengan continue untuk mencetak angka ganjil dari 1 hingga 10
i = 1
while i <= 10:
    if i % 2 == 0:   #cek,jika GENAP 
        i += 1
        continue  #untuk lompat ke perulangan berikutnya, tanpa menjalankan perintah dibawahnya
    print(i)
    i += 1

1
3
5
7
9

In [18]:
#Kombinasi perulangan dan percabangan 
for x in [1,2,3,4,5,6]:
    if x%2==0: #jika x modulo 2 sama dengan 0 maka genap
        print("Bilangan ",x, "Genap")
    else:   #jika x modulo 2 TIDAK sama dengan 0 maka ganjil
        print("Bilangan ",x, "Ganjil")

Bilangan  1 Ganjil
Bilangan  2 Genap
Bilangan  3 Ganjil
Bilangan  4 Genap
Bilangan  5 Ganjil
Bilangan  6 Genap

In [ ]:
#Mengenal FUNGSI/Sub Program 
#Sub program/fungsi adalah program pendek yang dibuat sebagai 
#modul khusus sesuai kebutuhan kita.
#Sub program/fungsi didefinisikan dgn perintah : def

def my_fungsi():
    print("Hello from a function")
    print("Saya belajar fungsi")
    
#Bagian untuk pemanggilan fungsi :
my_fungsi()
my_fungsi()
my_fungsi()
#jika fungsi tidak pernah dipanggil,maka tidak akan pernah
#dijalankan oleh python

In [20]:
#parameter fungsi(mengirim nilai ke fungsi)
def persegipanjang(panjang,lebar):
    luas=panjang*lebar
    return luas #perintah return berguna untuk mengembalikan 
                #suatu nilai ke source code pemanggilnya

print('Luas persegi panj dgn p=5,l=6 adalah',persegipanjang(5,6))
print('Luas persegi panj dgn p=10,l=6 adalah',persegipanjang(10,6))
print('Luas persegi panj dgn p=15,l=10 adalah',persegipanjang(15,10))

Luas persegi panj dgn p=5,l=6 adalah 30
Luas persegi panj dgn p=10,l=6 adalah 60
Luas persegi panj dgn p=15,l=10 adalah 150

In [21]:
#Mengenal variabel array /LIST
#LIST : Sebuah variabel yang isinya ada beberapa/banyak data
#Contoh berikut variabel thislist berisi 3 data. 
#Contoh diambil dari https://www.w3schools.com/python
thislist = ["apple", "banana", "cherry"]

print(thislist)
print(len(thislist)) #fungsi len gunanya untuk menampilkan jumlah data 
                     #dalam thislist

['apple', 'banana', 'cherry']
3

In [22]:
thislist = ["apple", 5, True, -10, 0.345]

print(thislist)
print(len(thislist)) #fungsi len gunanya untuk menampilkan jumlah data 
                     #dalam thislist

['apple', 5, True, -10, 0.345]
5

In [ ]:
#Cara mengakses satu isi List dengan menyebut nomor indeks
thislist = ["apple", "banana", "cherry"]
#  noindex :   0        1          2       (dari kiri)
#  noindex :   -3       -2        -1       (dari kanan)
print(thislist[0])
print(thislist[1])
print(thislist[2])
print(thislist[-1])
print(thislist[-2])

In [ ]:
#Cara mengakses beberapa isi List dengan menyebut nomor indeks awal/akhir
thislist=["apple","banana","cherry","orange","kiwi","melon","mango"]
print(thislist[2:5])     #[posisi awal : posisi akhir]
print(thislist[ :4])
print(thislist[2: ])
print(thislist[-4:-1])
if "banana" in thislist:
    print("Yes, 'banana' is in the fruits list")
    print('Banana in index: ',thislist.index('banana'))

In [ ]:
#Mengganti satu atau sebagian isi List
thislist = ["apple","banana","cherry","orange","kiwi","melon","mango"]
thislist[1] = "blackcurrant"   #mengganti satu data
print(thislist)
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]  #ganti bbrp data
print(thislist)

In [25]:
#Menambah isi list dari posisi tengah dan belakang
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.insert(0,"Jambu dersono")    #menyisipkan di awal, index no 0
print(thislist)
thislist.insert(2,"kelengkeng")    #menyisipkan di tengah, index no 2
print(thislist)
thislist.append("orange")          #menyisipkan di belakang
print(thislist)

['apple', 'banana', 'cherry']
['Jambu dersono', 'apple', 'banana', 'cherry']
['Jambu dersono', 'apple', 'kelengkeng', 'banana', 'cherry']
['Jambu dersono', 'apple', 'kelengkeng', 'banana', 'cherry', 'orange']

In [26]:
#Menggabungkan dua list menggunakan fungsi append
languages1=['Python','PHP','Java',]
languages2=['C','C++','C#']
# Menambahkan List 2 ke List 1 dengan perintah Append
languages1.append(languages2)
print("Result: ",languages1)
print("Panjang Languages 1 :",len(languages1))

Result:  ['Python', 'PHP', 'Java', ['C', 'C++', 'C#']]
Panjang Languages 1 : 4

In [27]:
#Menggabungkan dua list menggunakan fungsi append
languages1=['Python','PHP','Java',]
languages2=['C','C++','C#']
# Menambahkan List 2 ke List 1 dengan perintah Append
languages1.extend(languages2)
print("Result: ",languages1)
print("Panjang Languages 1 :",len(languages1))

Result:  ['Python', 'PHP', 'Java', 'C', 'C++', 'C#']
Panjang Languages 1 : 6

In [ ]:
#Tipe data TUPLE
#Tuple adalah sekumpulan data mirip LIST tapi tidak bisa di edit/tambah.
#Ciri-Ciri : diawali tanda kurung ( dan diakhiri )
#bandingkan dengan list :
fruits = ["apple", "banana", "cherry"]
print(fruits)
#tuple itu begini :
thistuple = ("apple", "banana",  "cherry")
print(thistuple)

In [28]:
#Tipe data DICTIONARY
#Ciri cirinya :BERPASANGAN, diawali dan diakhiri tanda { }
#setiap pasangan dipisahkan dengan tanda koma ,
#dalam sebuah pasangan, sisi kiri dan kanan dipisah tanda :
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#pandas adalah library python khusus untuk data analisis
#berikut cara import library pandas sekaligus bikin nama alias :pd
import pandas as pd 
#Membuat tabel pandas baru bertipe dataframe dengan nama : df
#pd dipakai untuk membuat tabel pandas baru dari sebuah dictionary
dict={"A":[1,4,7], 
      "B":[2,5,8], 
      "C":[3,6,9]}
df = pd.DataFrame(dict)  #disini df adalah berupa tabel pandas
print(df)
df

In [ ]:
import pandas as pd

# Membuat DataFrame
data = {
    'Nama': ['Alice', 'Bob', 'Charlie'],
    'Usia': [25, 30, 35],
    'Kota': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

# Menampilkan DataFrame
print(df)

In [ ]:
# Mengakses data
usia_baris_pertama = df.loc[0, 'Usia']
print('Usia baris pertama:', usia_baris_pertama)

# Menambahkan kolom baru
df['Pekerjaan'] = ['Engineer', 'Doctor', 'Artist']

# Mengubah nilai di kolom 'Kota'
df.loc[df['Nama'] == 'Bob', 'Kota'] = 'San Francisco'

print(df)

In [ ]:
# Memfilter DataFrame
filtered_df = df[df['Usia'] > 28]
print('Data setelah filter:\n', filtered_df)

# Mengurutkan DataFrame
sorted_df = df.sort_values(by='Usia', ascending=False)
print('Data setelah diurutkan:\n', sorted_df)

In [34]:
# Membuat DataFrame untuk Grouping-SUM yang kategorinya sama
data = {
    'Kategori': ['A', 'B', 'A', 'B'],
    'Nilai': [10, 20, 30, 40]
}
df = pd.DataFrame(data)
print(df)
# Mengelompokkan dan menghitung total nilai
grouped_df = df.groupby('Kategori').sum()
print('Total nilai per kategori:\n', grouped_df)

  Kategori  Nilai
0        A     10
1        B     20
2        A     30
3        B     40
Total nilai per kategori:
           Nilai
Kategori
A            40
B            60

In [35]:
# Membuat DataFrame
data = {
    'Nama': ['John', 'Jane', 'Jim' , 'Jono'],
    'Nilai': [85, 90, 78, 45]
}
df = pd.DataFrame(data)

# Fungsi untuk mengkategorikan nilai
def categorize(nilai):
    return 'Lulus' if nilai > 50 else 'Gagal'

# Menggunakan apply untuk menerapkan fungsi
df['Kategori'] = df['Nilai'].apply(categorize)
print(df)

   Nama  Nilai Kategori
0  John     85    Lulus
1  Jane     90    Lulus
2   Jim     78    Lulus
3  Jono     45    Gagal

In [36]:
import pandas as pd

# Membuat DataFrame pertama
df1 = pd.DataFrame({
    'ID': [1, 2],
    'Nama': ['Alice', 'Bob']
})

# Membuat DataFrame kedua
df2 = pd.DataFrame({
    'ID': [1, 2],
    'Usia': [25, 30]
})

# Menggabungkan DataFrame
merged_df = pd.merge(df1, df2, on='ID')
print('DataFrame yang digabungkan:\n', merged_df)

DataFrame yang digabungkan:
    ID   Nama  Usia
0   1  Alice    25
1   2    Bob    30

In [ ]:
# Membuat DataFrame dengan duplikat dan nilai yang hilang
df = pd.DataFrame({
    'Nama': ['Alice', 'Bob', 'Alice', 'Charlie'],
    'Usia': [25, 30, 25, None]
})
# Menghapus baris duplikat
df = df.drop_duplicates()
# Mengisi nilai yang hilang dengan nilai rata-rata
df['Usia'] = df['Usia'].fillna(df['Usia'].mean())
print('DataFrame setelah menghapus duplikat dan mengisi nilai yang hilang:\n', df)

In [38]:
# Membuat DataFrame
df = pd.DataFrame({
    'Kode': ['A001', 'A002', 'A003'],
    'Produk': ['Apel', 'Pisang', 'Jeruk'],
    'Harga': [100, 200, 150]
})
# Mengatur kolom 'Kode' sebagai index
df.set_index('Kode', inplace=True)
# Menambahkan kolom 'Diskon'
df['Diskon'] = df['Harga'] * 0.10
# Menampilkan data untuk 'Kode' A002
print('Data untuk produk dengan Kode A002:\n', df.loc['A002'])
df

Data untuk produk dengan Kode A002:
 Produk    Pisang
Harga        200
Diskon      20.0
Name: A002, dtype: object

      Produk  Harga  Diskon
Kode
A001    Apel    100    10.0
A002  Pisang    200    20.0
A003   Jeruk    150    15.0